/* .layout {
  float: left;
  width: 50%;
  height: 200px;
  background-color: green;
  margin-bottom: 1px;
  border: 1px solid white;
} */

.c_prev {
  left: 78%;
  bottom: -80%;
}

.c_next {
  right: 0;
  bottom: -80%;
}

.c_prev,
.c_next {
  position: absolute;
  top: 80%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
